In [1]:
##importing the required libraries for Analysis

import pandas as pd
import numpy as np
from numpy import sqrt

from pandas import Grouper
from pandas import DataFrame

import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.metrics import mean_squared_error
from pandas.plotting import lag_plot
from statsmodels.graphics.tsaplots import plot_acf

from statsmodels.tsa.seasonal import seasonal_decompose
## with the help of this we will be able to creat graphs for the dfferent components of time series data 
#like trends, level, sesional components and residual data

from statsmodels.tsa.holtwinters import SimpleExpSmoothing # SES
from statsmodels.tsa.holtwinters import Holt # Holts Exponential Smoothing
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [2]:
air = pd.read_csv("P:/DS material/DS Assignments/Solved and unsolved assignments/All DS Assignments/All Datasets for assignments/Airlines+Data.csv")
air

     Month  Passengers
0   Jan-95         112
1   Feb-95         118
2   Mar-95         132
3   Apr-95         129
4   May-95         121
..     ...         ...
91  Aug-02         405
92  Sep-02         355
93  Oct-02         306
94  Nov-02         271
95  Dec-02         306

[96 rows x 2 columns]

EDA

In [3]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Month       96 non-null     object
 1   Passengers  96 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.6+ KB

In [4]:
air.shape

(96, 2)

In [5]:
air.describe()

       Passengers
count   96.000000
mean   213.708333
std     71.918216
min    104.000000
25%    156.000000
50%    200.000000
75%    264.750000
max    413.000000

In [6]:
air.set_index('Month',inplace=True)
## making the month column as index

In [7]:
air

        Passengers
Month
Jan-95         112
Feb-95         118
Mar-95         132
Apr-95         129
May-95         121
...            ...
Aug-02         405
Sep-02         355
Oct-02         306
Nov-02         271
Dec-02         306

[96 rows x 1 columns]

In [8]:
air.index.year

AttributeError: 'Index' object has no attribute 'year'

In [ ]:
air.isnull()

In [ ]:
air.isnull().sum()

In [ ]:
air.isnull().sum().sum()

In [ ]:
air[air.duplicated()].shape
#found the 16 duplicated rows

In [ ]:
air[air.duplicated()]

In [ ]:
air.drop_duplicates(inplace=True)
## removed the duplicated

In [ ]:
air

In [ ]:
Air = air.copy()
## copied the data from df to DF so that any changes done to coppied data does not reflect to original data

In [ ]:
Air

In [ ]:
air.info()

In [ ]:
Air.describe()

In [ ]:
Air.isnull()

In [ ]:
Air.isnull().sum()

In [ ]:
Air.isnull().sum().sum()

In [ ]:
## Visualization of Data Checking the line plot,Histogram and Density Plots,create a density plot,
## Box and Whisker Plots by Interval,Lag Plot, Autocorrelation Plot

In [ ]:
Air.plot()

Here we can say that the trend is upward and the sessionality is multiplicative

In [ ]:
##Histogram and Density Plots

Air.hist()

In [ ]:
# create a density plot
Air.plot(kind='kde')

In [ ]:
##Lag_plot
lag_plot(Air)

In [ ]:
#Autocorrelation Plot

plot_acf(Air,lags=30)

Up_Sampling

In [ ]:
upsampled = air.resample('M').mean()
print(upsampled.head(32))

In [ ]:
interpolated = upsampled.interpolate(method='linear') ## interplation was done for nan values which we get after doing upsampling by month
print(interpolated.head(15))
interpolated.plot()
plt.show()

In [ ]:
interpolated

Tranformations

In [ ]:
# line plot
plt.subplot(211)
plt.plot(Air)

In [ ]:
# histogram
plt.subplot(212)
plt.hist(Air)

Square root Transform

In [ ]:
dataframe = DataFrame(Air.values)
dataframe.columns = ['Passengers']
dataframe['Passengers'] = sqrt(dataframe['Passengers'])

In [ ]:
# line plot
plt.subplot(211)
plt.plot(Air['Passengers'])
# histogram
plt.subplot(212)
plt.hist(Air['Passengers'])
plt.show()

Log Transform

In [ ]:
from numpy import log
## importing the log library

In [ ]:
dataframe = DataFrame(Air.values)
dataframe.columns = ['Passengers']
dataframe['Passengers'] = log(dataframe['Passengers'])

# line plot
plt.subplot(211)
plt.plot(dataframe['Passengers'])
# histogram
plt.subplot(212)
plt.hist(dataframe['Passengers'])
plt.show()

In [ ]:
Train = interpolated.head(81)
Test = interpolated.tail(14)

Moving Average

In [ ]:
plt.figure(figsize=(12,4))
interpolated.Passengers.plot(label="org")
for i in range(2,24,6):
    interpolated["Passengers"].rolling(i).mean().plot(label=str(i))
plt.legend(loc='best')

Time-Series Decomposition Plot

In [ ]:
decompose_ts_add = seasonal_decompose(interpolated.Passengers,period=12)  
decompose_ts_add.plot()
plt.show()

ACF and PACF Plots

In [ ]:
import statsmodels.graphics.tsaplots as tsa_plots

tsa_plots.plot_acf(interpolated.Passengers,lags=14)
tsa_plots.plot_pacf(interpolated.Passengers,lags=14)
plt.show()

Evaluation metric MAPE

In [ ]:
def MAPE(pred,org):
    temp = np.abs((pred-org)/org)*100
    return np.mean(temp)

Simple Exponential Method

In [ ]:
ses_model = SimpleExpSmoothing(Train["Passengers"]).fit(smoothing_level=0.2)
pred_ses = ses_model.predict(start = Test.index[0],end = Test.index[-1])
MAPE(pred_ses,Test.Passengers)

Holt Method

In [ ]:
# Holt method 
hw_model = Holt(Train["Passengers"]).fit(smoothing_level=0.1, smoothing_slope=0.2)
pred_hw = hw_model.predict(start = Test.index[0],end = Test.index[-1])
MAPE(pred_hw,Test.Passengers)

Holts winter exponential smoothing with additive seasonality and additive trend

In [ ]:
hwe_model_add_add = ExponentialSmoothing(Train["Passengers"],seasonal="add",trend="add",seasonal_periods=12).fit(smoothing_level=0.1, smoothing_slope=0.2) #add the trend to the model
pred_hwe_add_add = hwe_model_add_add.predict(start = Test.index[0],end = Test.index[-1])
MAPE(pred_hwe_add_add,Test.Passengers)

Holts winter exponential smoothing with multiplicative seasonality and additive trend

In [ ]:
hwe_model_mul_add = ExponentialSmoothing(Train["Passengers"],seasonal="mul",trend="add",seasonal_periods=12).fit(smoothing_level=0.1, smoothing_slope=0.2) 
pred_hwe_mul_add = hwe_model_mul_add.predict(start = Test.index[0],end = Test.index[-1])
MAPE(pred_hwe_mul_add,Test.Passengers)

In [ ]:
rmse_hwe_mul_add = sqrt(mean_squared_error(pred_hwe_mul_add,Test.Passengers))
rmse_hwe_mul_add

Final Model by combining train and test

In [ ]:
hwe_model_add_add = ExponentialSmoothing(interpolated["Passengers"],
                                         seasonal="add",
                                         trend="add",
                                         seasonal_periods=10).fit()

In [ ]:
#Forecasting for next 10 time periods
hwe_model_add_add.forecast(10)

In [ ]:
interpolated

In [ ]:
interpolated.reset_index(inplace=True)

In [ ]:
interpolated['t'] = 1
interpolated

In [ ]:
for i, row in interpolated.iterrows():
    interpolated['t'].iloc[i] = i+1

In [ ]:
interpolated

In [ ]:
interpolated['t_sq'] = (interpolated['t'])**2
## inserted t_sq column with values

In [ ]:
interpolated

In [ ]:
interpolated["month"] = interpolated.Month.dt.strftime("%b") # month extraction
interpolated["year"] = interpolated.Month.dt.strftime("%Y") # month extraction

In [ ]:
interpolated

In [ ]:
months = pd.get_dummies(interpolated['month']) ## converting the dummy variables for month column
months

In [ ]:
months = months[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']]
## storing the months as serial wise again in months variable

In [ ]:
months

In [ ]:
Airlines = pd.concat([interpolated,months],axis=1)
Airlines

In [ ]:
Airlines['log_passengers'] = np.log(Airlines['Passengers'])

In [ ]:
Airlines

In [ ]:
plt.figure(figsize=(15,11))
heatmap_y_month = pd.pivot_table(data=Airlines,values="Passengers",index="year",columns="month",aggfunc="mean",fill_value=0)
sns.heatmap(heatmap_y_month,annot=True,fmt="g")

In [ ]:
# Boxplot 
plt.figure(figsize=(8,6))
plt.subplot(211)
sns.boxplot(x="month",y="Passengers",data= Airlines)
plt.subplot(212)
sns.boxplot(x="year",y="Passengers",data=Airlines)

In [ ]:
plt.figure(figsize=(16,7))
sns.lineplot(x="year",y="Passengers",data=Airlines)

Spliting Data

In [ ]:
Train = Airlines.head(81) # training data
Test = Airlines.tail(14) # test Data

In [ ]:
#Linear Model
import statsmodels.formula.api as smf 

linear_model = smf.ols('Passengers~t',data=Train).fit()
pred_linear =  pd.Series(linear_model.predict(pd.DataFrame(Test['t'])))
rmse_linear = np.sqrt(np.mean((np.array(Test['Passengers'])-np.array(pred_linear))**2))
rmse_linear

In [ ]:
#Exponential
Exp = smf.ols('log_passengers~t',data=Train).fit()
pred_Exp = pd.Series(Exp.predict(pd.DataFrame(Test['t'])))
rmse_Exp = np.sqrt(np.mean((np.array(Test['Passengers'])-np.array(np.exp(pred_Exp)))**2))
rmse_Exp

In [ ]:
#Quadratic 

Quad = smf.ols('Passengers~t+t_sq',data=Train).fit()
pred_Quad = pd.Series(Quad.predict(Test[["t","t_sq"]]))
rmse_Quad = np.sqrt(np.mean((np.array(Test['Passengers'])-np.array(pred_Quad))**2))
rmse_Quad

In [ ]:
#Additive seasonality 

add_sea = smf.ols('Passengers~Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sep+Oct+Nov',data=Train).fit()
pred_add_sea = pd.Series(add_sea.predict(Test[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov']]))
rmse_add_sea = np.sqrt(np.mean((np.array(Test['Passengers'])-np.array(pred_add_sea))**2))
rmse_add_sea

In [ ]:
#Additive Seasonality Quadratic 

add_sea_Quad = smf.ols('Passengers~t+t_sq+Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sep+Oct+Nov',data=Train).fit()
pred_add_sea_quad = pd.Series(add_sea_Quad.predict(Test[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','t','t_sq']]))
rmse_add_sea_quad = np.sqrt(np.mean((np.array(Test['Passengers'])-np.array(pred_add_sea_quad))**2))
rmse_add_sea_quad

In [ ]:
##Multiplicative Seasonality

Mul_sea = smf.ols('log_passengers~Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sep+Oct+Nov',data = Train).fit()
pred_Mult_sea = pd.Series(Mul_sea.predict(Test))
rmse_Mult_sea = np.sqrt(np.mean((np.array(Test['Passengers'])-np.array(np.exp(pred_Mult_sea)))**2))
rmse_Mult_sea

In [ ]:
#Multiplicative Additive Seasonality 

Mul_Add_sea = smf.ols('log_passengers~t+Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sep+Oct+Nov',data = Train).fit()
pred_Mult_add_sea = pd.Series(Mul_Add_sea.predict(Test))
rmse_Mult_add_sea = np.sqrt(np.mean((np.array(Test['Passengers'])-np.array(np.exp(pred_Mult_add_sea)))**2))
rmse_Mult_add_sea

In [ ]:
#Compareing the results 

data = {"MODEL":pd.Series(["rmse_linear","rmse_Exp","rmse_Quad","rmse_add_sea","rmse_add_sea_quad","rmse_Mult_sea","rmse_Mult_add_sea"]),"RMSE_Values":pd.Series([rmse_linear,rmse_Exp,rmse_Quad,rmse_add_sea,rmse_add_sea_quad,rmse_Mult_sea,rmse_Mult_add_sea])}
table_rmse=pd.DataFrame(data)
table_rmse.sort_values(['RMSE_Values'])